.form-container {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; 
  border: 2px solid #007bff; 
}

h2 {
  text-align: center;
  background-color: #007bff; 
  color: white; 
  padding: 10px;
  border-radius: 1px;
  margin: -20px -20px 20px; 
}

label {
  display: block;
  margin: 10px 0;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 2px solid #007bff; 
  border-radius: 4px;
  box-sizing: border-box; 
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.voltar {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1b204; 
  border: 2px, #f1b204, solid;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.voltar:hover {
  background-color: #c99a18;
  border: 2px, #f1b204, solid;
}

.gravar {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  border: 2px, #4caf50, solid;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.gravar:hover {
  background-color: #419744;
  border: 2px, #4caf50, solid;
}
